.search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555; /* Darker border color */
    border-radius: 5px;
    width: 300px;
    background-color: #333; /* Darker background */
    color: #fff; /* White text color */
}

.search button {
    background-color: #008CBA; /* Blue button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Add margin to separate from input */
}

.search button:hover {
    background-color: #005f73; /* Darker blue on hover */
}

@media (min-width: 768px) {
    .article {
        width: 400px;
    }

    .search input[type="text"] {
        width: 400px;
    }
}

@media (min-width: 1024px) {
    .article {
        width: 500px;
    }

    .search input[type="text"] {
        width: 500px;
    }
}

@media (min-width: 1280px) {
    .article {
        width: 600px;
    }

    .search input[type="text"] {
        width: 600px;
    }
}

@media (max-width: 767px) {
    .article {
        width: 250px;
    }

    .search input[type="text"] {
        width: 250px;
    }
}

@media (max-width: 479px) {
    .article {
        width: 350px;
    }

    .search input[type="text"] {
        width: 350px;
    }
}
